body {
    font-family: 'Handlee', cursive;
    font-size: 14pt;
    background-color: #efefef;
    background: url(../img/phone2.png) no-repeat;
    background-size: cover;
}

#header {
    text-align: center
}

h1 {
    color: #483D8B;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

p {
    text-indent: 20px;
}

#titles {
    position: absolute;
    bottom: 10px;
}

#content_of_page {
    font-size: 20px;
    color: #A52A2A
}

.wrap {
    /* Ширина макета */
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.pages {
    margin: 0 100px 0 100px;
    /* Отступ на ширину левой и правой колонки*/
}

.page {
    display: block;
}

.left {
    width: 100px;
    /* Ширина левой колонки */
    float: left;
}

.img_left {
    width: 80px;
    position: absolute;
    top: 400px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 20px;
    border-radius: 50%;
}

.sextion {
    background-color: #fff;
    padding: 5px 15px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.content {
    min-height: 500px;
    position: relative;
}

.comment {
    min-height: 400px;
}

.right {
    width: 100px;
    /* Ширина правой колонки */
    float: right;
}

.img_right {
    width: 80px;
    position: absolute;
    top: 400px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 20px;
    border-radius: 50%;
}

.com_img {
    float: left;
    width: 90px;
    height: 90px;
}

.add_img_com {
    float: left;
    width: 80px;
    height: 35px;
    transform: translate(5px, -60px);
    padding: 0px 0px 0px 0px;
}

.submit {
    background-color: #3fb6b2;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0 0 0 240px;
    font-weight: bold;
    width: 100px;
}

.submit:hover {
    background-color: #43a09d;
}

.textarea_out,
textarea {
    height: 30px;
    margin-bottom: 90px;
    padding-bottom: 40px;
}

input,
textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 50%;
    margin: 0 0 5px 35px;
    outline: none;
}

.name_out,
.textarea_out {
    font-size: 11pt;
    width: 85%;
    margin: 0 50px 5px 110px;
    outline: none;
}